name = "organized"
main = ".svelte-kit/cloudflare/_worker.js"
compatibility_date = "2025-11-06"
compatibility_flags = [ "nodejs_compat" ]

[observability]
enabled = true
head_sampling_rate = 1

[assets]
binding = "ASSETS"
directory = ".svelte-kit/cloudflare"
